<div class="container">
  <h2 id="contact">Contact Us</h2>
  <hr />
  <div class="wrapper animated bounceInLeft">
    <div class="company-info">
      <h3>LA7 DIGITAL</h3>
      <ul>
        <li><i class="fa fa-road"></i> 7351 Halifax Street</li>
        <li><i class="fa fa-phone"></i> (204) 5577207</li>
        <li><i class="fa fa-envelope"></i> welcome@la7digital.com</li>
      </ul>
    </div>

    <div class="contact">
      <h3>Email Us</h3>

      <form method="POST" action="email">
        <p>
          <label>Name</label>
          <input type="text" name="name" id="name" />
        </p>
        <p>
          <label>Company</label>
          <input type="text" name="company" id="company" />
        </p>
        <p>
          <label>Email Address</label>
          <input type="email" name="email" id="email" />
        </p>
        <p>
          <label>Phone Number</label>
          <input type="text" name="phone" id="phone" />
        </p>
        <p class="full">
          <label>Message</label>
          <textarea name="message" id="message" rows="5"></textarea>
        </p>
        <p class="full">
          <button type="submit">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>
