<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
      <div class="row mt-4">
        <div class="col align-self-end">
          Copyright &copy; LA7digital Website 2019
        </div>
        <div class="col align-self-end">
          <div class="social d-flex justify-content-center mt-3">
            <a href="#" class="mx-2" style='color: #999'>
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2" style='color: #999'>
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2" style='color: #999'>
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <div class="col align-self-end" id="slogan">
          Build our digital identity
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(form).on('submit', e => {
      e.preventDefault();
      const name = $('#name').val().trim();
      const company = $('#company').val().trim();
      const email = $('#email').val().trim();
      const phone = $('#phone').val().trim();
      const message = $('#message').val().trim();

      const data = {
        name,
        company,
        email,
        phone,
        message
      };

      $.post( "/email", data, function() {
        console.log('Server recieved our data.')
      });

    })
  </script>
  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/grayscale.min.js"></script>
</body>
</html>
