<%- include("./partials/header") %>
<body id="page-top">
  <%- include("./partials/navbar") %>

  <header class="masthead-about">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">ABOUT</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
          We Digitise Companies, Brands, and Communications with the
          Customer-Centric Methodologies.
        </h2>
      </div>
    </div>
  </header>

  <section id="about" class="projects-section bg-light">
    <div class="container">
      <div class="abstruct-figure-1">
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <div class="text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <!-- <h4 class="text-black">History</h4> -->
                  <p class="mb-0 text-black-50">
                    <strong>LA7 Digital Hub</strong> was founded in beautiful
                    Vancouver, BC in 2019.
                  </p>
                  <!-- <hr class="d-none d-lg-block mb-0 ml-0" /> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <!-- <h4 class="text-black">History</h4> -->
                  <p class="mb-0 text-black-50">
                    Our company is managed by partners with deep expertise in
                    technologies, management and marketing, who have a reach
                    background in software, telecom, cyber security, financial
                    industries and retail. They are experienced to work with big
                    enterprises, small, medium business and start-ups.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <div class="text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <!-- <h4 class="text-black">History</h4> -->
                  <p class="mb-0 text-black-50">
                    <strong>Our clients</strong>
                    <br />
                    <br />
                    Business owners and founders, people who are responsible for
                    the business decisions in their companies. They are
                    searching for the digital solutions that can provide them
                    with a positive user experience before, during and after
                    sales improving business performance and achieving
                    competitive advantages.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <!-- <h4 class="text-black">History</h4> -->
                  <p class="mb-0 text-black-50"></p>
                  <!-- <hr class="d-none d-lg-block mb-0 ml-0" /> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <div class="text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <!-- <h4 class="text-black">History</h4> -->
                  <p class="mb-0 text-black-50">
                    <strong>Who will work for you.</strong>
                  </p>
                  <!-- <hr class="d-none d-lg-block mb-0 ml-0" /> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="text-center h-100 project">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >
                  <!-- <h4 class="text-black">History</h4> -->
                  <p class="mb-0 text-black-50">
                    <strong>Pavel Smolov</strong>
                    <br />
                    Technology and software development partner. Master Degree
                    in Engineering, Computer, and Networks field. Diploma in
                    Full-stack web development. Over 10 years’ experience in
                    telecom and software field on the project management
                    positions. Has implemented number of large-scale technology
                    projects within the leading technology companies as Nokia
                    Corporation, Huawei Technologies, Relacom.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<%- include('./partials/footer') %>
