<%- include("./partials/header") %>
<body id="page-top">
  <%- include("./partials/navbar") %>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">DIGITIZE WHATEVER</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
          We Digitise Companies, Brands, and Communications with the
          Customer-Centric Methodologies.
        </h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger"
          >Get Started</a
        >
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">
            You are in a Digital Company
          </h2>
          <p class="text-point">
            A new customer behaviour enabled by technologies force you to
            rethink your business approaches reorienting on customer experience.
            To adjust your business to a new digital reality you need to build a
            strong online presence to engage with customers.
          </p>
          <p class="text-point">
            Digitalization could be uneasy process and LA7 Digital Hub is here
            to help you to go through this exciting transformation. We digitize
            your company in 3 main areas: Digital Branding, Digital
            Communications, and Digital Technologies.
          </p>
        </div>
      </div>
      <img src="/img/ipad.png" class="img-fluid" alt="" />
    </div>
  </section>

  <!-- Services Section -->
  <section id="services" class="projects-section bg-light">
    <div class="container">
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img
            class="img-fluid mb-3 mb-lg-0"
            src="img/bg-masthead.jpg"
            alt=""
          />
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Digital Branding</h4>
            <p class="text-black-50 mb-0">
              Digital branding include: defining a core brand idea, customer
              experience data analysis, company and product unique identity
              development, creative development, digital visualization and
              content development, digital brand standards and guides
              development, experimenting and implementation.
            </p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-01.jpg" alt="" />
        </div>
        <div class="col-lg-6">
          <div class="bg-white text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-black">Digital Communications</h4>
                <p class="mb-0 text-black-50">
                  Digital communications include: content strategy development,
                  visualization, SMM, SEO/SEM, paid and display advertising,
                  email campaigns, influencer marketing, mobile communications,
                  and others.
                </p>
                <hr class="d-none d-lg-block mb-0 ml-0" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-02.jpg" alt="" />
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-white text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-black">Digital Technologies</h4>
                <p class="mb-0 text-black-50">
                  Digital technologies we offer: websites, promo landing pages,
                  mobile apps, AI, VR, automation, other emerging technologies.
                </p>
                <hr class="d-none d-lg-block mb-0 mr-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <h2 class="text-white mb-5">
            Let’s digitize your business together!
          </h2>

          <form class="form-inline d-flex">
            <input
              type="email"
              class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
              id="inputEmail"
              placeholder="Enter email address..."
            />
            <button type="submit" class="btn btn-primary mx-auto">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
<%- include("./partials/footer") %>
