<%- include("./partials/header") %>
<body id="page-top">
  <%- include("./partials/navbar") %>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto">
        <h1 class="mx-auto my-0">
          We build our digital identity
        </h1>
        <h2 class="text-white-50 mx-auto mt-5 mb-5">
          Your digital identity is not a logo,your message,your social media
          page or your website. It’s all together!
        </h2>
        <hr />
        <a
          href="#about"
          class="btn btn-primary js-scroll-trigger justify-content-start mt-2"
          >Get Started</a
        >
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about"></section>
  <div class="outer">
    <!-- <h1>This is a Beautiful Newspaper Headline</h1> -->
    <article>
      <h2>You are in Digital Company</h2>
      <section>
        <p>
          LA7 Digital Hub is a Vancouver based digital company mixing marketing
          and technology to create your unique business identity and enable you
          to stay out of digital noise.
        </p>

        <p>
          A new customer behaviour enabled by internet and mobile technologies
          force you to rethink your business approaches reorienting on customer
          experience.
        </p>

        <a
          href="#about"
          class="btn btn-primary js-scroll-trigger justify-content-start mt-2"
          >Our work</a
        >

        <h3>About us</h3>

        <p>
          Our team has a deep expertise in branding, digital marketing and
          web/mobile app development.
        </p>

        <img
          src="https://images.unsplash.com/photo-1562522844-6de1fe9b18ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80"
          alt="Computer keyboard"
        />
        <hr />

        <h3>How we work</h3>

        <p>
          We use a proven methodology which allows you to create a unique brand
          identity and build a strong online presence in all digital channels to
          attract, engage and delight your customers.
        </p>
      </section>

      <!-- ----------------------------Brending------------------------------- -->

      <h2 class="secondary">Brending</h2>

      <section>
        <div class="card mb-5" id="card-topic">
          <div class="card-body">
            <h5 class="card-title" id="card-title-topic">Branding</h5>
            <p class="card-text ">
              Brand is a soul of the organization customising your values,
              business promises, and digital performance that creates a unique
              emotional perception of your company in the minds of your
              customers, employees, shareholders and competitors.
            </p>
          </div>
        </div>

        <p>
          To brand a business in digital age means to have an opportunity for
          any company to reach the right audience and provide them with the
          unique user experience.
        </p>

        <p>
          No matter what channel you use: socialmedia, your website or whatever
          tomorrow’s technology may bring-your brand should be consistent in all
          of them.
        </p>
      </section>
      <hr class="span-all" />

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">Brand strategy</h5>
              <p class="card-text mt-4 mb-4">
                Brand values definition, buyer persona, user experience
                analysis, competitor’s analysis, emotional and rational value
                proposition, positioning, toneandvoice.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">Brand identity</h5>
              <p class="card-text mt-5">
                Logo, colors, fonts, tone andvoice, creative communication
                framework.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">Brand guidelines</h5>
              <p class="card-text mt-5">
                Brandbook, socialmedia and website brand guides, content guide,
                digital communications guide.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- ------------------------Digital Marketing--------------------------- -->

      <h2 class="secondary">Digital Marketing</h2>
      <section>
        <p>
          In digital age your business success depends on how you communicate
          your business online.
        </p>

        <p>
          Now,with the boost of mobile technologies and socialmedia customers
          have become more conscious about their buying decisions and they don’t
          want just to be sold to.
        </p>

        <p>
          They want to be educated and engaged!
        </p>

        <p>
          Customers consume information about your company from different online
          channels to understand whether they can trust enough to be ready to
          purchase.
        </p>

        <div class="card mb-5" id="card-topic">
          <div class="card-body">
            <h5 class="card-title" id="card-title-topic">Digital marketing</h5>
            <p class="card-text ">
              Digital marketing allows you to reach your customers in the right
              channels, at the right time and get measurable results from your
              marketing efforts.
            </p>
          </div>
        </div>
      </section>
      <hr class="span-all" />

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">
                Digital marketing strategy
              </h5>
              <p class="card-text mt-4 mb-4">
                Strategic plan that includes: digital channels audit, goals,
                buyer’s persona, SEO, socialmedia, content planning,
                paid/display advertising, influencer marketing, emails, metrics,
                automationtools.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">
                Search engine marketing(SEM)
              </h5>
              <p class="card-text mt-3">
                Search engine optimisation (SEO) and search engine
                advertising(SEA): on-page and off-page SEO; content and blog
                planning, key-words planning, links building; technical SEO;
                paid ads; metrics and automation.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">
                Socialmedia marketing
              </h5>
              <p class="card-text mt-5">
                Facebook, Instagram, Linkedin, Twitter strategy planning: goals,
                metrics, personas, content calendar, posts mockups, social media
                advertising, automation.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- ------------------------Web App Development--------------------------- -->

      <h2 class="secondary">Web app development</h2>

      <section>
        <div class="card mb-5" id="card-topic">
          <div class="card-body">
            <h5 class="card-title" id="card-title-topic">
              Web app development
            </h5>
            <p class="card-text ">
              Your website is the most important asset of your digital identity.
              Website-is more than just a design and a technical solution,it is
              the face of your company that impacts your brand perception and
              sales.
            </p>
          </div>
        </div>

        <p>
          In digital age every business should have at least a website to be
          searchable online.
        </p>

        <p>
          Your website should become your best brand communicator and a powerful
          24/7 sales person.
        </p>

        <p>
          Thus, having a pretty and technologically advanced website is not
          enough.
        </p>

        <p>
          It should be responsive and optimized to generate a constant flow of
          visitors, leads and customers.
        </p>
      </section>
      <hr class="span-all" />

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">Website strategy</h5>
              <p class="card-text mt-4 mb-4">
                Setting business goals, target audiences and buyer personas,
                buyer’s journey, existing site audit, competitive analysis and
                positioning, website architecture, content and design ideas,
                technical considerations.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">
                Website development
              </h5>
              <p class="card-text mt-5">
                Project scheduling and budgeting, prototyping, branding and
                design mockups, content creation, technical development,
                integrations, testing.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-5" id="card-brand">
            <div class="card-body">
              <h5 class="card-title" id="card-title-brand">Website launch</h5>
              <p class="card-text mt-5">
                Hosting, content management training, technical support, other
                services, if applicable.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</body>
<%- include("./partials/footer") %>
