<%- include("./partials/header") %>
<body id="page-top">
  <%- include("./partials/navbar") %>

  <header class="masthead-services">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">SERVICES</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
          We Digitise Companies, Brands, and Communications with the
          Customer-Centric Methodologies.
        </h2>
      </div>
    </div>
  </header>
  <section id="services" class="projects-section bg-light"></section>
</body>

<%- include('./partials/footer') %>
