@import url("https://fonts.googleapis.com/css?family=Lato|Prata&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Comfortaa-Light";
  src: url("/fonts/Comfortaa-Light.ttf");
}

body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Comfortaa-Light";
  margin-top: 0;
  margin-bottom: 2em;
}

h3 {
  color: #c7c7c7;
}

p {
  font-family: "Comfortaa-Light";
  color: #a0a0a0;
  margin-top: 0;
}

.outer {
  padding: 1em;
}

section {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

img {
  width: 80%;
  margin: 1em 0 0;
  border-radius: 10px;
}

.card {
  font-family: "Comfortaa-Light";
  font-size: 1em;
  border: whitesmoke solid 1px;
}

.card-body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-text {
  color: #181818;
}

#card-title-topic {
  color: whitesmoke;
}

#card-title-brand {
  color: red;
}

#card-topic {
  background: black;
  border: 2px solid gray;
  border-radius: 1em;
}

#card-brand {
  background: -webkit-linear-gradient(white, rgba(146, 138, 142, 0.8));
}

#focus-messsage {
  color: #a0a0a0;
}

.infographic {
  height: 25px;
  width: 25px;
  position: relative;
  top: -22px;
}

.service-block {
  margin-top: 100px;
  margin-bottom: 80px;
}

#about .text-point {
  /* border: 1px solid #64a19d; */
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
}

#slogan {
  font-family: "Comfortaa-Light";
  font-size: 1.3rem;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
}

.footer-link {
  font-size: 1.5rem;
  color: #999;
}

@media only screen and (min-width: 768px) {
  body {
    text-align: left;
    font-size: 18px;
  }
  p {
    line-height: 1.6em;
  }
  section {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-rule-style: solid;
            column-rule-style: solid;
    -webkit-column-rule-color: #2b2b2b;
            column-rule-color: #2b2b2b;
  }
  section > * {
    margin-top: 0;
  }
  h1 {
    font-size: 3rem;
    margin: 2em 0 1em;
  }
  .outer {
    padding: 4em;
  }
  article {
    padding: 1em;
    background: #181818;
  }
  h2 {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: #e70303;
  }
  h2::before {
    content: " ";
    position: absolute;
    width: 120px;
    height: 10px;
    z-index: -1;
    bottom: -0.8em;
    left: -1em;
    background: #e70303;
    border-radius: 1em;
  }
  .secondary {
    margin-top: 2em;
  }
  img {
    width: 100%;
  }
  h3 {
    color: #c7c7c7;
    margin: 1.5em 0 1em;
  }
  p.span-all {
    -webkit-column-span: all;
            column-span: all;
    font-size: 1.6em;
    padding: 0.5em;
    margin: 2em 0;
    color: white;
    text-align: center;
  }
}

@media only screen and (min-width: 1100px) {
  .outer {
    margin: 0 auto;
    width: 90%;
  }
  section {
    -webkit-column-count: 2;
            column-count: 2;
  }
}
/*# sourceMappingURL=blackscale.css.map */