#about .text-point {
  /* border: 1px solid #64a19d; */
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
}
#slogan {
  font-family: "Abang";
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.3rem;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.footer-link {
  font-size: 1.5rem;
}
